/** @section Utilities custom */


.height-fill {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;

	> * {
		flex-grow: 1;
		flex-shrink: 0;
	}
}


// Object inline 
.object-inline {
	white-space: nowrap;
	> * {
		display: inline-block;
		min-width: 20px;
		vertical-align: top;
		white-space: normal;
	}

	> * + * {
		margin-left: 5px;
	}
}

.oh {
	position: relative;
	overflow: hidden;
}


// Text decorations
.text-decoration-lines {
	position: relative;
	overflow: hidden;
	width: 100%;

	&-content {
		position: relative;
		display: inline-block;
		min-width: 170px;
		font-size: 13px;
		text-transform: uppercase;

		&::before,
		&::after {
			content: '';
			position: absolute;
			height: 1px;
			background: $gray-200;
			top: 50%;
			width: 100vw;
		}

		&::before {
			left: 0;
			transform: translate3d(-100%, 0, 0);
		}

		&::after {
			right: 0;
			transform: translate3d(100%, 0, 0);
		}
	}
}

* + .text-decoration-lines {
	margin-top: 30px;
}



// JSColor Workaround
[style*='z-index: 1000;'] {
	z-index: $zindex-layout-panel + 1 !important;
}

.text-block {
	> * {
		margin-left: .125em;
		margin-right: .125em;
	}
}

.privacy-link { display: inline-block; }
* + .privacy-link { margin-top: 20px; }


.contact-info {
	color: #000000;
}

.contact-info .icon {
	line-height: 1;
}

.contact-info a {
	font-size: 14px;
}

.contact-info a, .contact-info a:active, .contact-info a:focus {
	color: inheerit;
}

.contact-info a:hover {
	color: $primary;
}

@media (min-width: 992px) {
	.contact-info a[href*='tel'] {
		font-size: 18px;
	}
	.contact-info .material-design-map103 {
		line-height: 1.2;
	}
	.contact-info .material-icons-local_phone {
		line-height: 1.4;
	}
}

* + .contact-info {
	margin-top: 15px;
}

@media (min-width: 1200px) {
	* + .contact-info {
		margin-top: 13px;
	}
}

.contact-wrap p {
	line-height: 1.857142857142857;
}

.contact-wrap * + p {
	margin-top: 25px;
}

@media (min-width: 992px) {
	.contact-wrap {
		max-width: 380px;
	}
}

.contact-info-inline .list-inline {
	display: inline-block;
}

.contact-info-inline-meta {
	display: inline-block;
	min-width: 94px;
	color: $gray-700;
}

* + .contact-info-inline {
	margin-top: 15px;
}

.contact-info-inline + .contact-info-inline {
	margin-top: 8px;
}

@media (min-width: 992px) {
	* + .contact-info-inline {
		margin-top: 35px;
	}
	.contact-info-inline + .contact-info-inline {
		margin-top: 20px;
	}
}
