/** @section Breadcrumbs */

// Local variables
$breadcrumb-padding-vertical: 8px;
$breadcrumb-padding-horizontal: 15px;
$breadcrumb-bg: $gray-300;
$breadcrumb-color: $gray-700;
$breadcrumb-active-color: $primary;
$breadcrumb-separator: "\f105";

// Base styles
.breadcrumbs-custom {
	position: relative;
	padding: 35px 0 40px;
	text-align: center;
	background-position: center;
}

.breadcrumbs-custom-path {
	padding-left: 10px;
	padding-right: 10px;
	@include spacingX(30px);
	text-align: right;

	a {
		display: inline;
		vertical-align: middle;

		&,
		&:active,
		&:focus {
			color: $breadcrumb-color;
		}
	}

	li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: .2em;


		&::after {
			content: '|';
			position: absolute;
			top: 52%;
			right: -5px;
			display: inline-block;
			font-size: inherit;
			font-style: normal;
			color: $breadcrumb-color;
			transform: translate3d(0, -50%, 0);
		}
	}

	li:last-child {
		&:after {
			display: none;
		}
	}

	a:hover,
	li.active {
		color: $breadcrumb-active-color;
	}

	li.active {
		top: 2px;
	}
}

* + .breadcrumbs-custom-path {
	margin-top: 14px;
}

@include media-breakpoint-down(md) {
	.breadcrumbs-custom-title {
		font-size: 26px;
	}
}

@include media-breakpoint-up(sm) {
	.breadcrumbs-custom {
		@include spacingX(60px);
	}

	* + .breadcrumbs-custom-path {
		margin-top: 18px;
	}
}
