header.section.page-header(class= (pageName === 'Home' ? 'page-header-main' : '') )
  //RD Navbar
  .rd-navbar-wrap
    nav.rd-navbar.rd-navbar-classic(
    data-layout=                'rd-navbar-fixed'
    data-sm-layout=             'rd-navbar-fixed'
    data-md-layout=             'rd-navbar-fixed'
    data-md-device-layout=      'rd-navbar-fixed'
    data-lg-layout=             'rd-navbar-fixed'
    data-lg-device-layout=      'rd-navbar-fixed'
    data-xl-layout=             'rd-navbar-sidebar'
    data-xl-device-layout=      'rd-navbar-sidebar'
    data-xxl-layout=             'rd-navbar-sidebar'
    data-xxl-device-layout=      'rd-navbar-sidebar'
    data-lg-stick-up-offset=    '46px'
    data-xl-stick-up-offset=    '1x'
    data-xxl-stick-up-offset=   '1px'
    data-lg-stick-up=           'true'
    data-xl-stick-up=           'true'
    data-xxl-stick-up=          'true'
    )
      .rd-navbar-main-outer
        .rd-navbar-main
          //RD Navbar Panel
          .rd-navbar-panel
            //RD Navbar Toggle
            button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap'): span

            //RD Navbar Brand
            .rd-navbar-brand
              +logo

          .rd-navbar-main-element
            .rd-navbar-nav-wrap
              +navigation( menu )
